
ul{
    list-style-type: none;
    margin: 20;
    padding: 0;
}

li{
    display: inline;
    
}


li a{
padding: 45px;
background-color:darkblue ;
color:white;
}

html{
    background-color: darkslategray
}
 
 
img
{
    position: absolute;
    left: 0px;
    top: 120px;
    bottom: 0px;
    border-radius: 4pc;
    z-index: -1;
}

