.topnav {
    background-color: #333;
    overflow: hidden;
  }
  

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  

  .topnav a.active {
    background-color: darkblue;
    color: white;
    
  }
 html
 {
     background-color: darkslategrey;
 }
 h1 {
    -webkit-text-decoration: black solid underline;
    text-decoration: black solid underline;
    -webkit-text-underline-position: auto;
    text-underline-position: auto;
  }


h1 {
  font-size: 4vw;
  max-width: 70vw;
  color: #fefefe;

  span {
    background-image: linear-gradient(
      transparent calc(65% - 5px),
      darken($color, 15%) 5px,
    );
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.5s ease;
  }
  
  

      